@media screen and (max-width: 1300px) //Pantallas pequeñas
    .col-2, p
        display: none

    .col-8
        width: 100%

        padding: 10px 5% 10px 5%

    .carousel
        height: 40vw

        a
            height: 40.2vw
        h2 
            margin-bottom: 20px

        video
            height: 45.4vw    

        button[class*=prev]
                margin-left: -15px

        button[class*=next]
                margin-right: -15px

@media screen and (max-width: 600px) //Pantallas móviles
    .carousel
        height: 90vw
        
        border-radius: 10%
        
        a
            height: 90.2vw
        h2 
            margin-bottom: 20px

        video
            height: 88.4vw

@media screen and (max-height: 600px) //Dispositivos apaisados
    body > video
        display: none

    #header img
            max-width: 10vw

    .container-fluid .row:nth-child(2)
        position: fixed
        top: 0
        right: 0
        left: 0
        height: 100vh

        .col-8
            padding: 0


    .carousel
        height: 100vh
        
        border: none
        border-radius: 0

        a
            height: 100vh
        h2 
            margin-bottom: 40px

        video
            height: 115.4%

            margin-top: -5%    

        button[class*=prev]
            margin-left: -65px

            > span
                margin-right: -60px

        button[class*=next]
            margin-right: -65px

            > span
                margin-left: -60px

    .carousel-caption
        bottom: 0