@media screen and (min-width: 2800px) //Pantallas ultrawide
    .carousel
        height: 25vw
        
        h2 
            margin-bottom: 20px

        button[class*=prev]
            margin-left: -100px

            > span
                margin-right: -60px

        button[class*=next]
            margin-right: -100px

            > span
                margin-left: -60px
    
@media screen and (max-width: 1300px) //Pantallas pequeñas
    .col-2, p
        display: none !important

    .col-8
        width: 100%

        padding: 10px 5% 10px 5%

    .carousel
        height: 50vw

        a video
            max-width: 120%

        h2 
            margin-bottom: 20px

        button[class*=prev]
                margin-left: -15px

        button[class*=next]
                margin-right: -15px

@media screen and (max-width: 900px) //Pantallas móviles
    .carousel
        height: 80vw
        
        border-radius: 10%

        a video
            max-width: 185%
        
        h2 
            margin-bottom: 20px

@media screen and (max-height: 600px) //Dispositivos apaisados
    body > video
        display: none

    #header img
            max-width: 10vw

    .container-fluid .row:nth-child(2)
        position: fixed
        top: 0
        right: 0
        left: 0
        height: 100vh

        padding-top: 0 !important

        .col-8
            padding: 0


    .carousel
        height: 100vh
        
        border: none
        border-radius: 0

        h2 
            margin-bottom: 40px

        button[class*=prev]
            margin-left: -65px

            > span
                margin-right: -60px

        button[class*=next]
            margin-right: -65px

            > span
                margin-left: -60px

    .carousel-caption
        bottom: 0