@import variables

body
    height: 100vh
    
    background-color: $secondary

    overflow: hidden //Evitar el overflow producido por el video en modo apaisado

    > video
        position: absolute
        right: 0
        bottom: 0

    .row:nth-child(2)
        height: calc(100vh - 137.72px)

#header
    position: relative

    z-index: 10

    padding: 10px 100px

    img
        max-width: 15vw


.carousel
    height: 30.4vw

    border: 6px solid white
    border-radius: 35%

    overflow: hidden

    a
        display: flex
        justify-content: center

        height: 30.2vw
        width: 100%

    video
        height: 35vw

    button
        background-color: #bbbbbb2a

        border-radius: 45%

    button[class*=prev]
            margin-left: -30px

    button[class*=next]
            margin-right: -30px
            

.carousel-caption
    font-family: "Agency FB"
    text-transform: uppercase

    background-color: rgba(0, 0, 0, 0.5)
    border-top-left-radius: 35%
    border-top-right-radius: 35%

    margin-bottom: -12px

    p
        font-weight: 900

@import media