body {
  height: 100vh;
  background-color: #BFDBF7;
}
body .row:nth-child(2) {
  height: calc(100vh - 137.72px);
}

#header {
  position: relative;
  z-index: 10;
  padding: 10px 5%;
}
#header img {
  max-width: 15vw;
}

video {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
}

.carousel {
  height: 30.4vw;
  box-shadow: 10px 10px 20px #006494;
  border: 6px solid white;
  border-radius: 15%;
  overflow: hidden;
}
.carousel .carousel-indicators {
  max-height: 30px;
  margin-bottom: 0;
}
.carousel .carousel-caption {
  font-family: "Agency FB";
  font-weight: bolder;
  text-transform: uppercase;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  border-top-left-radius: 35%;
  border-top-right-radius: 35%;
  padding-bottom: 1rem;
}
.carousel div:not(.carousel-caption) {
  height: 100%;
}
.carousel a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.carousel a video {
  position: absolute;
  max-width: 100%;
}
.carousel button {
  background-color: rgba(187, 187, 187, 0.1647058824);
  border-radius: 45%;
}
.carousel button[class*=prev] {
  margin-left: -30px;
}
.carousel button[class*=next] {
  margin-right: -30px;
}

.card {
  border: none;
}

.card-header {
  font-family: "Agency FB";
  font-weight: bolder;
  text-transform: uppercase;
  background-color: #051923;
  color: #006494;
}
.card-header img {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: absolute;
  top: -50px;
  left: -20px;
}
.card-header h1 {
  margin-left: 60px;
}

.card-body {
  background-color: rgba(158, 158, 158, 0.281);
}
.card-body img {
  background-color: rgb(158, 158, 158);
}
.card-body p {
  padding-right: 10px;
}

blockquote {
  position: relative;
  font-style: italic;
  background-color: rgba(158, 158, 158, 0.281);
  padding: 30px 0px;
}
blockquote a {
  position: absolute;
  right: 40px;
  bottom: 10px;
  text-decoration: none;
}

.row > a {
  font-family: "Agency FB";
  font-weight: bolder;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: fixed;
  top: 40%;
  width: 9vw;
  flex-direction: column;
  color: #BFDBF7;
  font-size: 30px;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 15px;
  padding: 15px;
  z-index: 1;
  transition: all 0.5s;
}
.row > a span {
  margin-top: 15px;
}
.row > a:hover {
  background-color: rgb(0, 0, 0);
}

#character {
  position: relative;
  z-index: 1;
}

#prime {
  max-height: 350px;
  overflow: hidden;
}

#pre {
  left: 4vw;
}

#sig {
  right: 4vw;
}

.clear {
  clear: both;
}

@media screen and (min-width: 2800px) {
  .carousel {
    height: 25vw;
  }
  .carousel h2 {
    margin-bottom: 20px;
  }
  .carousel button[class*=prev] {
    margin-left: -100px;
  }
  .carousel button[class*=prev] > span {
    margin-right: -60px;
  }
  .carousel button[class*=next] {
    margin-right: -100px;
  }
  .carousel button[class*=next] > span {
    margin-left: -60px;
  }
}
@media screen and (max-width: 1300px) {
  .col-2, p {
    display: none !important;
  }
  .col-8 {
    width: 100%;
    padding: 10px 5% 10px 5%;
  }
  .carousel {
    height: 50vw;
  }
  .carousel a video {
    max-width: 120%;
  }
  .carousel h2 {
    margin-bottom: 20px;
  }
  .carousel button[class*=prev] {
    margin-left: -15px;
  }
  .carousel button[class*=next] {
    margin-right: -15px;
  }
}
@media screen and (max-width: 900px) {
  .carousel {
    height: 80vw;
    border-radius: 10%;
  }
  .carousel a video {
    max-width: 185%;
  }
  .carousel h2 {
    margin-bottom: 20px;
  }
}
@media screen and (max-height: 600px) {
  body > video {
    display: none;
  }
  #header img {
    max-width: 10vw;
  }
  .container-fluid .row:nth-child(2) {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 100vh;
    padding-top: 0 !important;
  }
  .container-fluid .row:nth-child(2) .col-8 {
    padding: 0;
  }
  .carousel {
    height: 100vh;
    border: none;
    border-radius: 0;
  }
  .carousel h2 {
    margin-bottom: 40px;
  }
  .carousel button[class*=prev] {
    margin-left: -65px;
  }
  .carousel button[class*=prev] > span {
    margin-right: -60px;
  }
  .carousel button[class*=next] {
    margin-right: -65px;
  }
  .carousel button[class*=next] > span {
    margin-left: -60px;
  }
  .carousel-caption {
    bottom: 0;
  }
}/*# sourceMappingURL=main.css.map */