@import variables

*
    margin: 0
    padding: 0

html, body
    height: 100%
    
    background-color: $secondary

video
    position: absolute
    right: 0
    bottom: 0

    z-index: 0

.container-fluid
    position: relative
    z-index: 1

.container-fluid
    height: calc(100vh)

.row:nth-child(2)
    height: calc(100vh - 106.34px)

#header
    padding: 10px 100px

    #logo
        max-width: 15vw

#floatBox
    border: 6px solid white
    border-radius: 35%

.carousel-caption
    background-color: rgba(0, 0, 0, 0.5)
    font-family: "Agency FB"
    font-weight: 900
    border-radius: 35%

#title 
    color: white
    font-family: Verdana, Geneva, Tahoma, sans-serif
    font-size: 6vh
    position: relative
    top: 3.5vh
    left: 5vh

#slider 
    background-color: $accent
    height: 100%

.footer 
    position: fixed
    left: 50%
    bottom: -20px
    width: 140vh
    height: 4vh
    background-color: $primary
    color: white
    transform: translate(-50%, -50%)
