/* - Color primario: #051923 
- Color secundario: #BFDBF7
- Color de acento: #006494 */

*{
    margin: 0;
    padding: 0;
    
}
html, body {
    width: 100%;
    height: 100%;
}

body {
    background-color: #BFDBF7;
    min-height: 100vh;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 15vh;
    background-color: #051923;
    
}

h2{
    color: white;
}

.footer {
    position: fixed;
    left: 50%;
    bottom: -20px;
    width: 140vh;
    height: 4vh;
    background-color: #051923;
    color: white;
    transform: translate(-50%, -50%);
    
}